.review{
   border-bottom: 1px solid #E5E8ED;
   margin-bottom: 24px;
}

.review:last-child{
   border-bottom: 0px;
}

.review h3{
   font-size: 16px;
   line-height: 160%;
   color: #787A80;
   margin-bottom: 20px;
}

.review h3 span{
   color: #17696A;
   font-weight: 700;
}

.review .action-button{
   flex: 1;
   text-align: right;
}

.review .action-button button{
   margin-left: 10px;
}

.review .user-text{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

.review .user-info{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

.review .user-info .user-img {
   width: 60px;
   height: 60px;
   background: #03CEA4;
   border-radius: 100px;
   padding: 2px;
}

.review .user-info .user-img img{
   width: 100%;
   height: 100%;
   border-radius: 100px;
   object-fit: cover;
}

.review .user-info .user-content h3{
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   color: #1E212C;
   margin: 0;
}

.review .user-info .user-content p, 
.review .user-info .user-content h4{
   font-size: 14px;
   line-height: 150%;
   color: #787A80;
   margin: 0;
}

.review .user-info .user-content h4 svg{
   margin-top: -2px;
   color: #FFD700;
}

.review .user-review {
   padding: 10px 10px 24px;
}

.review .user-review p{
   font-size: 15px;
   line-height: 160%;
   color: #424551;
   margin: 0;
}

/* Responsive Media Query */
@media only screen and (max-width: 575.98px) {
   .review .user-text {
      flex-direction: column;
  }
  .review .action-button button {
      margin-bottom: 10px;
   }
   .review .user-review {
      padding: 10px 0px 24px;
  }
  .review .user-info {
      justify-content: center;
   }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
   .review .user-text {
      flex-direction: column;
  }
  .review .action-button button {
      margin-bottom: 10px;
   }
   .review .user-review {
      padding: 10px 0px 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992.98px) {
   .review .action-button button {
      margin-left: 5px;
  }
}
/* Responsive Media Query */