#signInArea{
   background: #E5E8ED;
   padding: 50px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

#signInArea .signin-inputs{
   width: 450px;
   margin: 0 auto;
   text-align: center;
}

#signInArea .signin-inputs h2{
   font-weight: 700;
   font-size: 28px;
   line-height: 150%;
   color: #1E212C;
   padding-bottom: 15px;
}

#signInArea .signin-inputs p{
   font-size: 14px;
   line-height: 175.78%;
   color: #787A80;
   margin-bottom: 0px;
}

#signInArea .user-form p {
   text-align: left;
   font-weight: 400;
   font-size: 14px;
   padding: 25px 0px;
}

#signInArea .user-form button {
   margin-top: 15px;
}

#signInArea .user-platform{
   padding: 25px 0px;
   border-top: 1px solid #FFF;
}

#signInArea .user-platform h4{
   font-size: 14px;
   line-height: 150%;
   color: #787A80;
   padding-bottom: 10px;
}

/* Input Field Design */
#emailInput, 
#passwordInput,
#nameInput,
#urlInput {
  background: #E5E8ED;
  border: 2px solid #17696A;
  border-radius: 4px;
  width: 100%;
  padding: 15px 20px;
  margin-top: 15px;
}

#emailInput:focus, 
#passwordInput:focus,
#nameInput:focus,
#urlInput:focus {
  outline: 0;
  box-shadow: none;
}

/* Responsive Media Query */
@media only screen and (max-width: 575.98px) {
   #signInArea .signin-inputs {
      width: 100%;
  }
}