.service{
   width: 100%;
}

.service img {
   width: 100%;
   height: 440px;
   border-radius: 20px;
   object-fit: cover;
   object-position: center;
}

.service h3{
   font-weight: 900;
   font-size: 24px;
   line-height: 130%;
   color: #1E212C;
   margin: 15px 0 8px;
}

.service .priceRating{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.service .priceRating h4, 
.service .priceRating h5{
   font-size: 18px;
   line-height: 150%;
   color: #424551;
   font-weight: 600;
}

.service .priceRating h5 svg{
   margin-top: -2px;
   color: #FFD700;
}

.service p{}

.service a{}