.service-reviews{
   width: 100%;
   border-top: 1px solid #E5E8ED;
   margin: 30px 0;
   padding-top: 30px;
}

.service-reviews h2{
   font-weight: 900;
   font-size: 26px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 25px;
}

.service-reviews h6{
   text-align: center;
   color: #787A80;
   font-weight: 400;
   font-size: 15px;
}