#error-page .content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
}

#error-page .content img{
   margin-bottom: 20px;
}

#error-page .content p{
   margin-bottom: 10px;
   font-size: 18px;
   color: #5C5C5C;
}

#error-page .content p i{
   font-weight: bold;
   color: #5C5C5C;
}

#error-page .content a{
   margin-top: 20px;
}

@media only screen and (max-width: 575.98px) {
   #error-page .content img {
       width: 70%;
   }
   #error-page .content p {
       text-align: center;
   }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
   #error-page .content img {
       width: 70%;
   }
   #error-page .content p {
       text-align: center;
   }
}