*, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Button Design */
.kitchen-btn{
    border: 0;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding: 8px 15px;
    background: #17696A;
    box-shadow: 0px 3px 6px rgb(41 41 41 / 20%);
    text-decoration: none;
}

.kitchen-btn:hover{
  color: #FFFFFF;
}

/* Input Field Design */
#emailInput, 
#passwordInput,
#nameInput,
#urlInput {
  background: #E5E8ED;
  border: 2px solid #17696A;
  border-radius: 4px;
  width: 100%;
  padding: 15px 20px;
  margin-top: 15px;
}

#emailInput:focus, 
#passwordInput:focus,
#nameInput:focus,
#urlInput:focus {
  outline: 0;
  box-shadow: none;
}